.contact-cont{
 display: flex;
flex-direction: column;
align-items: center;
width: 1200px;
padding-top: 91px;
padding-bottom: 220px;
gap: 64px;
}

.contact-head{
display: flex;
flex-direction: row;
gap: 16px;
text-align: center;
align-items: center;
}
    
.contact-head h4{
 font-family: "EuclidCircularBSemiBold";
font-size: 58px;
font-style: normal;
font-weight: 600;
line-height: normal;

}

.form-cont{
display: flex;
width: 1200px;
flex-direction: column;
align-items: flex-start;
gap: 64px;
padding-left: 120px;
}

.form-head{
    padding-left: 35px;
}

.form-head p{
color: #7E7E7E;
font-family: "EuclidCircularBMedium";;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.head-btn button{
padding: 10px 15px;
margin-left: 24px;
margin-bottom: 24px;
border-radius: 40px;
border: 2px solid #cfcaca;
gap: 24px;
}

.head-btn button:hover{
background-color: black;
color: white;
}

.form-main{
display: flex;
flex-direction: column;
width: 100%;
}

.form-main input{
background-color: white;
color: black;
font-family: "EuclidCircularBMedium";
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
border: none;
padding: 30px;
outline: none;
margin-bottom: 20px;
}

.form-foot p{
color: #7E7E7E;
font-family: "EuclidCircularBMedium";;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-left: 35px;
}

  
.send button{
display: flex;
padding: 15px 25px;
margin-left: 35px;
justify-content: center;
align-items: center;
background-color: black;
color: white;
border-radius: 24px;
background: #010100;
}

.send button:hover{
    background-color: darkblue;
}

/* Diğer stil tanımlamaları burada */

/* Mobil ve Tablet (max-width: 767px) */
@media only screen and (max-width: 767px) {
    .contact-cont {
      width: 100%; /* Genişliği tam ekran yap */
      padding-left: 20px; /* Sol padding değerini küçült */
      padding-right: 20px; /* Sağ padding değerini küçült */
    }
  
    .contact-head {
      flex-direction: column; /* Başlığı dikey olarak sırala */
      align-items: center; /* Başlığı ortala */
      text-align: center; /* Başlık metnini ortala */
      gap: 10px; /* Gap değerini küçült */
    }
  
    .contact-head h4 {
      font-size: 36px; /* Başlık boyutunu küçült */
    }
  
    .form-cont {
      width: 100%; /* Genişliği tam ekran yap */
      padding-left: 20px; /* Sol padding değerini küçült */
      padding-right: 20px; /* Sağ padding değerini küçült */
    }
  
    .form-head {
      padding-left: 0; /* Sol padding'i sıfırla */
      text-align: center; /* Başlık metnini ortala */
    }
  
    .form-head p {
      font-size: 28px; /* Başlık metni boyutunu küçült */
    }
  
    .head-btn button {
      margin-left: 0; /* Sol kenar boşluğu sıfırla */
      margin-bottom: 10px; /* Alt kenar boşluğunu küçült */
    }
  
    .form-main input {
      padding: 20px; /* Input içeriğinin padding değerini küçült */
    }
  
    .form-foot p {
      margin-left: 0; /* Sol kenar boşluğu sıfırla */
      font-size: 28px; /* Metin boyutunu küçült */
    }
  
    .send button {
      padding: 12px 20px; /* Buton içeriğinin padding değerini küçült */
      margin-left: 0; /* Sol kenar boşluğu sıfırla */
    }
  }
  