.navbar{
    display: flex;
    flex-direction: row;
    padding-left: 120px !important;
    padding-top: 40px !important; 
  }
  
  .link{
    color: #0B0B0B;
  font-family: "EuclidCircularBMedium";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-right: 30px;
  }
  /* Normal stil tanımlamaları burada */

/* Responsive Düzenleme */
@media only screen and (max-width: 790px) {
  .navbar {
    margin: 0px;
    padding-left: 20px !important;
    padding-top: 20px !important;
    flex-direction: column;
    align-items: flex-start;
  }

  .link {
margin-right: 35px;
margin-bottom: 10px;
  }

  .logo{
    padding-bottom: 30px;
  }
}
