.navbar{
    display: flex;
    flex-direction: row;
    padding-left: 120px !important;
    padding-top: 40px !important; 
  }
  
  .link{
    color: #0B0B0B;
  font-family: "EuclidCircularBMedium";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-right: 30px;
  }