.footer {
    box-sizing: border-box;
    background-color: black;
    display: flex;
    width: 100%px;
    height: 389px;
    flex-shrink: 0;
    padding-left: 120px;
    padding-top: 74px;
}

.first-word {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    text-transform: capitalize;
}

p {
    color: grey;
    font-family:  "EuclidCircularBRegular";
    font-size: 11px;
    font-style: normal;
    line-height: 24px;
    font-weight: 400;
}

.footer-block1 {
    float: left;
    width: 100px;
    height: 150px;
    margin-right: 90px;
}

.footer-block2 {
    float: left;
    width: 100px;
    height: 150px;
    margin-left: 65px;
}

.linkf{
  color: grey;
  font-family:  "EuclidCircularBRegular";
  font-size: 11px;
  font-style: normal;
  line-height: 24px;
  font-weight: 400;
  text-decoration: none;
}


.footer-block3 {
    width: 200px;
    height: 50px;
}

.about-brand {
    width: 301.158px;
    color: white;
    font-family: "EuclidCircularBMedium";
    font-size: 18px;
    font-style: normal;
    font-weight: 60;
    line-height: 27px;
    text-transform: capitalize;
    padding-top: 237px;
}

.main-footer-right {
    margin-left: 365px;
}

.subscribe {
    margin-top: 40px;
    color: #FFF;
    font-family: "EuclidCircularBSemiBold";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 27px */
}

input {
    position: relative;
    border-radius: 16px;
    background: #313131;
    width: 319px;
    height: 56px;
    flex-shrink: 0;
}

.input-container button {
    display: inline-flex;
    position: absolute;
    padding: 16px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 16px;
    background: white;
    top: 0;
    right: 0;
    height: 100%;
}

.input-container {
    position: relative;
    margin-top: 48px;
}


/* Responsive Düzenleme */
@media only screen and (max-width: 990px) {
    .footer {
      flex-direction: column;
      height: auto;
      padding: 40px 20px;
    }
  
    .footer-block1,
    .footer-block2,
    .footer-block3 {
      float: none;
      width: auto;
      height: auto;
      margin: 0;
    }
  
    .about-brand {
      padding-top: 20px;
    }
  
    .main-footer-right {
      margin-left: 0;
      margin-top: 20px;
    }
  
    .subscribe {
      text-align: center;
    }
  
    input {
      width: 100%;
    }
  
    .input-container button {
      position: relative;
      margin-top: 20px;
      right: initial;
    }
  }
